.user-png {
  width: 30px;
  height: 30px;
}
.navbar-brand {
  color: rgba(240, 0, 0, 0.87);
  font-size: 25px;
  font-weight: bold;
}

.btn-nav {
  background-color: rgba(240, 0, 0, 0.87);
  border-radius: 5px;
  color: white !important;
  font-weight: bold;
}
